:root{
    height: 100vh;
    max-width: 100vw;
}

body{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
/*---------------------
Cards styling section: 
---------------------*/
main{
    flex-grow: 1;
}

.card-container{
    height: 10rem;
    width: 15rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.card{
    display: flex;
    flex: 1;
    font-size: 2rem;
}