:root{
    height: 100vh;
    max-width: 100vw;
    font-family: 'Fira Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    background-color: var(--hotpink);
}

main,footer{
    display: flex;
    justify-content: center;
    width: 100%;
}

/*--------------------
CSS Vars - colors:
--------------------*/
:root{
    --graphite: #27272a;
    --hard-graphite: #18181b;
    --stone: #525252;
    --light-stone: #a8a29e;
    --melon: #F9B9B7;
    --hotpink: #F06C9B;
    --yellowpeach: #F5D491;
    --papaya: #ff9a80;
    --skyblue: #96C9DC;
    --mineralwater: #dcf6ff;
    --moonstone: #61A0AF;

}


/*---------------------
Header section: 
---------------------*/
header{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 3.5rem;
    background-color: var(--skyblue);
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 1.5rem;
}

/*---------------------
Cards styling section: 
---------------------*/
main{
    flex-grow: 1;
    margin-top: 5rem;
}

.card-container{
    display: grid;
    height: max(45%, 32rem);
    width: max(25%,23rem);
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}

.card{
    width: 100%;
    height: 100%;
    display: flex;
    flex: 1;
    font-size: 5rem;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    background-color: var(--melon);
    color: var(--hotpink);
    border-radius: 5px;
}


/*-------------
Modal Styling:
------------*/
.modal{
    /*display: none;*/
    position: fixed;
    z-index: 0;
    left: 0;
    top: 0;
    overflow: auto;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.356);
}

.modal>.modal-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max(22%,22rem);
    height: 45%;
    margin: 15vh auto;
    padding: 1rem;
    border: 1px solid rgba(136, 136, 136, 0.064);
    border-radius: 15px;
    background-color: var(--skyblue);
}

.modal-content>.forms-container{
    display: flex;
    justify-content: space-between;
    width:100%;
    flex-grow: 1;
    align-items: center;
}

.forms-container>form{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    min-height: 70%;
    justify-content: space-evenly;
    align-items: center;
    align-self: flex-start;
    gap: 20px;
}

#player-1-name, #player-2-name{
    width: 70%;
    font-size: 2rem;
    font-weight: 700;
    border-radius: 8px;
    border: none;
    background-color: var(--skyblue);
    color: var(--hotpink);
    text-shadow: 2px 2px white;
}


h2.modal-header,h3.modal-header{
    font-size: 2rem;
    font-weight: 600;
    color: white;
    text-shadow: 3px 3px var(--hotpink);
}

h3.modal-header{
    margin-top: 0.3rem;
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
}

h2.player-sign{
    font-size: 4.5rem;
    font-weight: 900;
    color: var(--hotpink);
}

.form-btn{
    height: 2.5rem;
    font-size: 1.8rem;
    border-radius: 8px;
    border: 2px solid white;
    background-color: var(--moonstone);
    color: var(--mineralwater);
    box-shadow: 5px 5px white;
    transition: 0.5s;
}

.form-btn:hover{
    transform: translate(2px,1px);
    box-shadow: 3px 3px white;
    filter: brightness(130%);
}

.form-btn:active{
    
    transform: translate(3px,3px);
    background: white;
    color: var(--moonstone);
    box-shadow: 1px 1px var(--moonstone);
    opacity: 0.8;
}

.play-btn{
    height: 4rem;
    width: 8rem;
    margin-bottom: 1.5rem;
    justify-self: flex-start;
}

div.line-break{
    height: 90%;
    border-right: 5px dashed white;
    align-self: flex-start;
    margin-top: 5px;
}

/*---------------------
Footer section: 
---------------------*/
footer{
    background-color: var(--yellowpeach);
    height: 2.5rem;
}