:root{
    height: 100vh;
    max-width: 100vw;
    font-family: 'Fira Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    background: rgb(249,185,183);
    background: linear-gradient(180deg, rgba(249,185,183,1) 0%, rgba(240,108,155,1) 54%, rgba(212,0,143,1) 100%);
}

main,footer{
    display: flex;
    justify-content: center;
    width: 100%;
}

/*--------------------
CSS Vars - colors:
--------------------*/
:root{
    --melon: #F9B9B7;
    --hotpink: #F06C9B;
    --transparent-pink: #f06c9a9f;
    --skyblue: #96C9DC;
    --mineralwater: #dcf6ff;
    --moonstone: #61A0AF;

}

/*---------------------
Header section: 
---------------------*/
header,footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3.5rem;
    background-color: var(--skyblue);
}

header>h1{
    font-size: 3rem;
    font-weight: 800;
    color: var(--hotpink);
    text-shadow: 5px 3px var(--mineralwater);
}

footer{
    letter-spacing: 0.5vw;
    color: white;
    height: 2rem;
    background-color: var(--hotpink);
    text-shadow: 2px 1px var(--skyblue);
}

footer>h2>a{
    font-size: 1.5rem;
    color: var(--mineralwater);
}

h2{
    font-size: 1.5rem;
}

/*---------------------
Cards styling section: 
---------------------*/
main{
    flex: 1;
    min-height: 100%;
    margin-top: 1rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.card-container{
    display: grid;
    height: 60vh;
    width: max(20%,22rem);
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}

.card{
    width: 100%;
    min-height: 5rem;
    display: flex;
    flex: 1;
    font-size: 4.5rem;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    background-color: var(--melon);
    color: var(--transparent-pink);
    border-radius: 5px;
    cursor: pointer;
}

.card.played{
    color: var(--hotpink);
    cursor: default;
}

/*-------------
Modal Styling:
------------*/
.modal{
    position: fixed;
    z-index: 0;
    left: 0;
    top: 0;
    overflow: auto;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.356);
}

.hidden{
    display: none;
}

.modal>.modal-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: max(20%,20rem);
    height: 45%;
    margin: 15vh auto;
    padding: 1rem;
    border: 1px solid rgba(136, 136, 136, 0.064);
    border-radius: 15px;
    background-color: var(--skyblue);
}

.modal-content>.form-container{
    display: flex;
    justify-content: space-between;
    width:100%;
    height: 65%;
    align-items: center;
    margin-top: 15px;
}

.form-container>form{
    display: flex;
    height: 80%;
    gap: 10px;
    align-self: flex-start;
}

#player-1-name, #player-2-name{
    width: 90%;
    font-size: 2rem;
    font-weight: 700;
    border-radius: 8px;
    border: none;
    background-color: var(--skyblue);
    color: var(--hotpink);
    text-shadow: 3px 3px white;
    text-align: center;
}

.player-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}


.modal-header,.player-card{
    font-size: 2rem;
    font-weight: 600;
    color: white;
    text-shadow: 4px 4px var(--hotpink);
}

h2#scoreboard-header{
    margin: 2px;
    color: rgba(255, 255, 255, 0.429);
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 8px;
}

h3.modal-header{
    margin-top: 0.3rem;
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
}

.modal-header,.player-sign{
    cursor:default;
}

h2.player-sign{
    font-size: 4.5rem;
    font-weight: 900;
    color: var(--hotpink);
}

.form-btn{
    height: 2.5rem;
    font-size: 1.8rem;
    border-radius: 8px;
    border: 2px solid white;
    background-color: var(--moonstone);
    color: var(--mineralwater);
    box-shadow: 6px 5px white;
    transition: 0.2s;
    cursor: pointer;
}

.form-btn:hover{
    transform: translate(2px,1px);
    box-shadow: 3px 2px white;
    filter: brightness(130%);
}

.form-btn:active{
    
    transform: translate(3px,3px);
    background: white;
    color: var(--moonstone);
    box-shadow: 1px 1px var(--moonstone);
    opacity: 0.8;
}

.play-btn{
    height: 4rem;
    width: 8rem;
    margin-bottom: 1.5rem;
    justify-self: flex-start;
}

div.line-break{
    height: 100%;
    border-right: 5px dashed white;
    align-self: flex-start;
    margin-top: 5px;
}

/*--------------------
Scoreboard styling:
--------------------*/

.main-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 24rem;
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 20px;
    border: 5px dashed rgba(255, 255, 255, 0.361);
    margin-bottom: 1rem;
}

.scoreboard-container{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 7.5rem;
    margin-bottom: 1rem;
}

.player-card{
    display: flex;
    flex-direction: column;
    height: 4rem;
    align-items: center;
    justify-content: space-around;
    width: 25%;
}

.player-card>h2{
    font-size: 1.2rem;
    width: 100%;
    height: 35%;
    text-overflow: ellipsis;
    overflow: hidden; 
}

/*---------------------
media queries: 
---------------------*/

@media only screen and (max-width: 600px) {
    header{
        display: none;
    }

    main{
        margin: 0;
    }

    .modal>.modal-content{
        width: 80%;
        height: 26rem;
    }

    h2.modal-header{
        font-size: 24px;
    }
    
    #player-1-name, #player-2-name{
        font-size: 1.5rem;
    } 

    .player-card,.player-card>*{
        font-size: 1.5rem;
    }

    .main-header{
        width: 90%;
        margin-top: 1rem;
    }

  }

/*---------------------
Animations:
---------------------*/
  .blink_me {
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }